@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: Poppins;
    background-color: var(--bg-clr);

}

:root {
    --main-clr: #FFFFFF;
    --bg-clr: #ECE9E2;
    --secondary-clr: #212121;

}

#navbar {
    padding: 20px;
    cursor: pointer;
    width: 95%;
    height: 50px;
    background-color: var(--main-clr);
    margin: auto;
    margin-top: 0.6rem;
    border-radius: 9px;
    position: fixed;
    left: 2.5%;

}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 95%;
    margin: auto;
    margin-top: 1.2rem;
}

li {
    list-style: none;
}

ul {
    display: flex;
    gap: 1.2rem;
}

.flex {
    display: flex;
    justify-content: space-between;

}


   .hero {
    background-image: url('images/hero.png');
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 9px;
}

